{% extends "includes/base.html" %}
<title>{% block title %}Student Attendance System :: Home{% endblock %}</title>
{% block content %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Home<small>{# Optional description #}</small></h1>
            <ol class="breadcrumb">
                <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

        </section>
        <!-- /.content -->
    </div>
{% endblock %}